# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gcm

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# IDE garbage
.vscode/
.idea/
.vs/
Debug/
Release/
*.vcxproj.user

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Meson
.wraplock

